<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>


{{#if alert}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{alert}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}

{{#each row}}
    <form class="row g-3 needs-validation" method="POST" action="/updategame/{{this.id}}" novalidate>
        {{> game-form}}

        <div style="padding: 5px;">
            {{#if this.image}}
                <img class="image" src="/storage/{{this.image}}"  alt="image">
            {{else}}
                <img class="image" src="/img/default.jpg" alt="image">
            {{/if}}
        </div>
    </form>
{{/each}}



 
  